body{
    color: rgb(223, 18, 18);
    background-color: rgb(46, 12, 12);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}
img{
    size: 500px;
    width: 700px;
}